<div class="container ">
<div class="row">
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-head">
			  <div class="pull-left" height="80">
			  新建data			  </div>
			  <div class="widget-icons pull-right">
				<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="wclose"><i class="icon-remove"></i></a>
			  </div>  
			  <div class="clearfix"></div>
			</div>  
			<div class="widget-content" >
			<div class="padd">
				<div class="form quick-post">
							  <div class="form-horizontal">                        
								  <div class="form-group">
									<form class="form-horizontal" method="post">
	<div class="form-group">
		<label class="col-md-2 control-label" for="w1">w1</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="w1" name="w1" id="w1" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="title">title</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="title" name="title" id="title" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="w2">w2</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="w2" name="w2" id="w2" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="w3">w3</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="w3" name="w3" id="w3" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="w4">w4</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="w4" name="w4" id="w4" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="w5">w5</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="w5" name="w5" id="w5" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="w6">w6</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="w6" name="w6" id="w6" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="w7">w7</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="w7" name="w7" id="w7" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="add_time">add_time</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="add_time" name="add_time" id="add_time" />
		</div>
	</div>	
	<div class="form-group">
		<div class="col-md-2 col-md-offset-2">
			<input type="submit" value="提交" class="btn btn-default" />
		</div>
	</div>
</form>								  </div>              
							  </div>
				</div><!--end  paddad-->
			</div>
		</div>	
		</div>	
	</div>
</div>
</div>